/*
font-family: 'Germania One', cursive;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #BBBBBB;
    background-color: #333333
}

html{    
    font-size: 62.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-size: 1.6rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
}
header{
    text-align: center;
    padding: 0px;
    margin-bottom: 50px;
}
h1{
    font-family: 'Germania One', cursive;
    font-size: 4rem;
    font-weight: 100;
    text-decoration: none;
}
a{
    text-decoration: none;
}
#form{
    height:10%;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
}
form label{
    width: 100%;
    margin-bottom: 10px;
}
form input{
    border: none;
    border-bottom: #BBBBBB solid 1px;
    width: 80%;
    height : 30px;
    font-size: 1.5rem;
    outline: none;
    color: white;
    margin-top: 20px;
}
form button{
    margin-top: 50px;
    border: #BBBBBB solid 1px;
    background-color: #333333;
    border-radius: 5px;
    width: 25%;
    height : 30px;
    font-size: 2rem;
    outline: none;
}
form button:hover{
    border: #BBBBBB solid 1px;
    background-color: #BBBBBB;
    color: #333333;
    border-radius: 5px;
    height : 30px;
}
a{
    padding-top: 10px;
    font-size: 1.3rem;
}
a:hover{
    padding-top: 10px;
    font-size: 1.3rem;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #555555;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BBBBBB; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EEEEEE; 
  }