/*
font-family: 'Germania One', cursive;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #BBBBBB;
    background-color: #333333;
    scroll-behavior: smooth;
}

html{    
    font-size: 62.5%;
    height: 100%;
}

body{
    font-size: 1.6rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 100%;
}
header{
    text-align: center;
    padding: 50px 0px;
}
h1{
    font-family: 'Germania One', cursive;
    font-size: 4rem;
    font-weight: 100;
    text-decoration: none;
}
a{
    text-decoration: none;
}
main{
    height:70%;
}
#messages{
    height:100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#messages p{
    background-color: transparent;
    color: white;
    padding: 5px 0px 5px 25px;
    width: 90%;
    margin: 5px;
    border: #555555 solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2rem;
}
#messages input{
    border: #555555 solid 1px;
    border-radius: 5px;
    height: 30px;
    outline: none;
    margin-right: 5px;
    padding: 0px 15px;
    text-decoration: none !important;
}
#messages input:first-of-type:hover{
    border: #a2ca94 solid 1px;
    background-color: #a2ca94;
    color: #333333;
    border-radius: 5px;
}
#messages input:nth-of-type(2):hover{
    border: #be7f7f solid 1px;
    background-color: #be7f7f;
    color: #333333;
    border-radius: 5px;
}
#messages input:nth-of-type(3):hover{
    border: #eeeeee solid 1px;
    background-color: #eeeeee;
    color: #333333;
    border-radius: 5px;
}
#messages p b {
    font-family: 'Germania One', cursive;
    font-size: 2rem;
    font-weight: 50;
    background-color: transparent;
    color: white;
    padding-right:20px; 
}
hr{
    margin: 10px auto;
    width: 400px;
    border: 0;
    border-bottom: #555555 solid 1px;
}
hr:last-of-type{
    display: none;
}
#form{
    height:10%;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 600px;
}
form label{
    width: 100%;
    margin-bottom: 10px;
}
form input{
    border: none;
    border-bottom: #BBBBBB solid 1px;
    width: 80%;
    height : 30px;
    font-size: 1.5rem;
    outline: none;
    color: white;
}
form button{
    border: #BBBBBB solid 1px;
    background-color: #333333;
    border-radius: 5px;
    width: 15%;
    height : 30px;
    font-size: 1rem;
    outline: none;
}
form button:hover{
    border: #BBBBBB solid 1px;
    background-color: #BBBBBB;
    color: #333333;
    border-radius: 5px;
    width: 15%;
    height : 30px;
    font-size: 1rem;
}
.todo{
    background-color: #BBBBBB !important;
    color: #333333 !important;
}
.todo b{
    background-color: #BBBBBB !important;
    color: #333333 !important;
}




/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #555555;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BBBBBB; 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #EEEEEE; 
  }